/*----------------------- @Desktop -----------------------------*/

@media all and (max-width: 700px) {
    body {
        font-size: 9px;
        background: $navBG;
        padding: 10px 5%;
    }
    header, section, footer {
        float: left;
        width: 100%;
        margin: 2px 5px;
        padding: 0;
        text-align: center;
    }
    header {
        text-align: center;
    }
    footer {
        font-size: 20px;
    }
    section {
        height: auto;
        text-align: left;
        margin: 0;
    }
} // end of @media